GOOGLE_CLIENT_EMAIL=service-account@cfp-money.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUBSTITUA\n-----END PRIVATE KEY-----\n"
BREVO_API_KEY=SUBSTITUA
ADMIN_TRIGGER_SECRET=SUBSTITUA
